body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
}

header {
	clear: both;
	margin-bottom: 10px;
	width: 100%;
	height: 65px;
	background-color: #1B676B;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

header ul {
	margin: 15px 0px;
	height: 45px;
}

header li {
	display: inline-block;
	list-style-type: none;
	padding: 0px 5px;
}

button {
	border: 0;
	display: inline-block;
	background-color: #EAFDE6;
	width: 70px;
	height: 30px;
	vertical-align: middle;
	border-radius: 2px;
}

#input-tweet {
	display: inline-block;
	border: 0;
	width: 400px;
	height: 30px;
	padding: 0px 4px;
	border-radius: 2px;
}

/* PROBLEM: These are the 2 main, green divs. They are not
aligned the way I'd expect unless they both contain the same
number of elements. */
.stream-wrapper {
	width: 40%;
	background-color: #519548;
	text-align: center;
	border-radius: 10px;
	display: inline-block;
	color: white;
	margin: 0px 10px;
}

h2 {
	margin: 0.3em 0em;
}

.stream {
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}

.stream tr {
	margin-bottom: 10px;
}

.stream td {
	vertical-align: top;
	padding: 0px 10px 15px 10px;
}

.col1 {
	margin-top: 5px;
	display: inline-block;
}

.tweet-author {
	font-weight: bold;
}

.tweet-timestamp {
	color: white;
	font-size: 12px;
}

.tweet-content {
	color: black;
    background: #EAFDE6;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}

/* This CSS creates a triangle for the speech bubble look */
.tweet-content:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 10px 5px 5px;
    border-color: transparent #EAFDE6 transparent transparent;
    top: 8px;
    left: -15px;
}