body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
}

header {
	clear: both;
	margin-bottom: 10px;
	width: 100%;
	height: 65px;
	background-color: #1B676B;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

header ul {
	margin: 15px auto 15px auto;
	width: 100%;
	height: 45px;
}

header li {
	display: inline-block;
	list-style-type: none;
	padding: 0px 5px 0px 5px;
}

button {
	border: 0;
	display: inline-block;
	background-color: #EAFDE6;
	width: 70px;
	height: 30px;
	vertical-align: middle;
	border-radius: 2px;
}

#input-tweet {
	display: inline-block;
	border: 0;
	width: 400px;
	height: 30px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 2px;
}

.stream-wrapper {
	width: 40%;
	background-color: #519548;
	text-align: center;
	border-radius: 10px;
	display: inline-block;
}

h2 {
	margin: 0.3em 0em 0.3em 0em;
}

.stream {
	text-align: left;
}

.stream ul {
	vertical-align: middle;
	margin: 0.5em 0em 0.5em 0em;
}
.stream li {
	display: inline-block;
	height: 100%;
	padding: 0px 10px 0px 10px;
}

.tweet-author {
	color: white;
	display: inline-block;
}

.tweet-content {
	background-color: #EAFDE6;
	display: inline-block;
}

.tweet-timestamp {
	color: white;
	font-size: 12px;
}